.main {
  display: flex;
  margin-top: 50px;
  align-items: center;
  flex-direction: column;
}
.post {
  width: 350px;
  border-radius: 5px;

  margin-bottom: 25px;
  padding: 25px;
  border-bottom: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.post img {
  width: 100%;
}
.post h1 {
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.paginator {
  width: 100%;
  display: flex;
  justify-content: center;
}
.paginator div {
  margin: 25px;
}
.paginator .active {
  cursor: pointer;
}
.paginator .disabled {
  cursor: not-allowed;
  color: rgb(179, 179, 179);
}
